################################################################################
# Other macros

[include macro_test_speed.cfg]

################################################################################
# Movement/printing macros

# Move to center before homing to avoid crushing the umbilical in tower A.
#[safe_z_home]
#home_xy_position: 0, 0

[homing_override]
gcode:
  SAVE_GCODE_STATE NAME=homing_override

  # If the axes are homed,
  {% if "xyz" in printer.toolhead.homed_axes %}
    # and we're not too close to home already,
    {% if printer.toolhead.position.z < 230 %}
      # move away from whatever we were doing,
      G91
      
      G1 Z5
    {% endif %}

    # then center.
    G90
    G1 X0 Y0
  {% endif %}

  # Normal homing.
  G28

  # Move off endstops.
  G91
  G1 Z-3

  RESTORE_GCODE_STATE NAME=homing_override

[gcode_macro BEFORE_PRINT_START]
gcode:
  # Fetch temp values.
  {% set BED_TEMP = params.BED_TEMP | default(60) | float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP | default(190) | float %}
  {% set EXTRUDER_STANDBY_TEMP = EXTRUDER_TEMP / 2 %}

  # Power on.
  M80

  # Start heating.
  M140 S{BED_TEMP}
  M104 S{EXTRUDER_STANDBY_TEMP}

  # Home.
  G28

  # Load bed mesh.
  #BED_MESH_PROFILE LOAD=default
  BED_MESH_CALIBRATE PROFILE=temp ADAPTIVE=1

  RESET_MOVEMENT_SPEED

  # Heat outside the bed to avoid drooling all over it, but don't park inside
  # nozzle wipe brush.
  WIPE_ZONE Z=10

  # Heat the extruder.
  M104 S{EXTRUDER_TEMP}
  
  # Wait for bed temps.
  M190 S{BED_TEMP}
  M109 S{EXTRUDER_TEMP}

  # Nozzle wipe.
  G12

  # Purge/prime.
  PURGE

  # Reset extruder position.
  G92 E0

[gcode_macro BEFORE_LAYER_CHANGE]
gcode:
    TIMELAPSE_TAKE_FRAME

[gcode_macro AFTER_PRINT_STOP]
gcode:
  TURN_OFF_HEATERS

  # Retract filament.
  G10

  # Home.
  G28

  # Disable steppers.
  M84

[gcode_macro RESET_MOVEMENT_SPEED]
gcode:
  {% set MAX_VELOCITY = printer.configfile.settings.printer.max_velocity | int %}
  
  M220 S100
  
  G0 F{ MAX_VELOCITY * 10 }
  G1 F{ MAX_VELOCITY * 10 }

################################################################################
# Nozzle wiping

# Safe area outside the bed.
#[gcode_macro WIPE_ZONE]
#gcode:
#  SAVE_GCODE_STATE NAME=wipe_zone
#
#  # Move away from endstops to get full range of movement.
#  {% if printer.toolhead.position.z > 230 %}
#    G91
#
#    G1 Z-50
#  {% endif %}
#
#  G90
#
#  G1 Z{ 7 + (params.Z | default(0) | float) }
#  G1 X{ 118 + (params.X | default(0) | float) } Y{ params.Y | default(0) | float }
#
#  RESTORE_GCODE_STATE NAME=wipe_zone

#[gcode_macro DO_ONE_WIPE]
#gcode:
#  WIPE_ZONE X={ params.X | default(0) | float } Y={ params.Y | default(0) | float } Z={ params.Z | default(0) | float }
#
#  SAVE_GCODE_STATE NAME=do_one_wipe
#
#  G91
#
#  G1 Y10
#  G1 Y-20
#  G1 Y10
#
#  RESTORE_GCODE_STATE NAME=do_one_wipe

#[gcode_macro G12]
#gcode:
#  SAVE_GCODE_STATE NAME=G12
#
#  RESET_MOVEMENT_SPEED
#
#  # Enter at the bottom of the brush,
#  WIPE_ZONE Y=-10
#
#  # move back and forth for a bit,
#  {% for i in range(3) %}
#    DO_ONE_WIPE X={ - i }
#  {% endfor %}
#
#  # exit at the top,
#  WIPE_ZONE Y=10
#
#  RESTORE_GCODE_STATE NAME=G12

################################################################################
# Nozzle purging

[gcode_macro PURGE]
gcode:
  SAVE_GCODE_STATE NAME=purge

  RESET_MOVEMENT_SPEED

  # Go to the very front of the bed.
  G90
  G1 X0 Y-90

  # Purge height.
  G1 Z0.3

  # Relative extrusion.
  M83

  # Do a slow arc while extruding.
  M220 S25
  G92 E0
  G2 X-60 Y-70 E20 I0 J90

  # Then return to the front of the bed along a different arc.
  G91
  G1 X2 Y2

  G90
  G92 E0
  G3 X0 Y-90 E20 I60 J70

  # Wipe against the bed surface.
  G3 X5 Y-89 Z0 I0 J90
  G1 Z1

  RESTORE_GCODE_STATE NAME=purge
