################################################################################
# Basic necessities

[include mainsail.cfg]

[include timelapse.cfg]

[include power_control.cfg]

[include macros.cfg]

# For GPIO access.
[mcu host]
serial: /tmp/klipper_host_mcu

# Arduino Mega 2560 + RAMPS v1.4 clone.
[mcu]
serial: /dev/ttyACM0

################################################################################
# Extra features

[firmware_retraction]

[gcode_arcs]

[exclude_object]

[respond]
default_prefix:

[force_move]
enable_force_move: True

################################################################################
# The following section has been copied from:
# https://github.com/Klipper3d/klipper/blob/master/config/generic-ramps.cfg
# https://github.com/Klipper3d/klipper/blob/master/config/example-delta.cfg

# Connected to X header.
[stepper_a]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 32
rotation_distance: 40
endstop_pin: ^!PE4
homing_speed: 30
second_homing_speed: 5

# Connected to Y header.
[stepper_b]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 32
rotation_distance: 40
endstop_pin: ^!PJ0

# Connected to Z header.
[stepper_c]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 32
rotation_distance: 40
endstop_pin: ^!PD2

# Connected to E1 header.
[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 32
rotation_distance: 28.968
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
#control: pid
#pid_Kp: 21.872
#pid_Ki: 0.863
#pid_Kd: 138.612
min_temp: 0
max_temp: 250
max_extrude_only_distance: 100
#min_extrude_temp: 0 # For extruder calibration only.
pressure_advance: 0.95

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
control: watermark
min_temp: 0
max_temp: 130

################################################################################
# Custom stuff

[fan]
pin: PH6

[temperature_fan host]
pin: host:gpio72
sensor_type: temperature_host
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5 
min_temp: 0
max_temp: 100
target_temp: 55

[bltouch]
sensor_pin: ^PD3
control_pin: PB5
#z_offset: 1.2
x_offset: -25
stow_on_each_sample: False
sample_retract_dist: 1.5
speed: 5
lift_speed: 10
samples: 2

################################################################################
# The following section has been copied from:
# https://github.com/Klipper3d/klipper/blob/master/config/example-delta.cfg

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3000
max_z_velocity: 150
minimum_z_position: -15 # For leveling only.
print_radius: 120

[delta_calibrate]
radius: 75
horizontal_move_z: 3

################################################################################
# The following section has been copied from:
# https://github.com/Klipper3d/klipper/blob/master/config/sample-lcd.cfg

[display]
lcd_type: hd44780
rs_pin: PH1
e_pin: PH0
d4_pin: PA1
d5_pin: PA3
d6_pin: PA5
d7_pin: PA7
encoder_pins: ^PC6, ^PC4
click_pin: ^!PC2
kill_pin: ^!PG0
menu_reverse_navigation: True

[output_pin beeper]
pin: PC0

################################################################################
# The following section has been copied from:
# https://www.klipper3d.org/Resonance_Compensation.html

[input_shaper]
shaper_freq_x: 38.09  # frequency for the X mark of the test model
shaper_freq_y: 36.04  # frequency for the Y mark of the test model
shaper_type: zvd

################################################################################
# The following section has been copied from:
# https://www.klipper3d.org/Bed_Mesh.html

[bed_mesh]
speed: 120
horizontal_move_z: 3
mesh_radius: 75
mesh_origin: 0, 0
round_probe_count: 5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 108.524902
#*#
#*# [stepper_a]
#*# angle = 209.417704
#*# arm_length = 228.000000
#*# position_endstop = 249.561554
#*#
#*# [stepper_b]
#*# angle = 329.951415
#*# arm_length = 228.000000
#*# position_endstop = 249.265930
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 228.000000
#*# position_endstop = 250.103947
#*#
#*# [bltouch]
#*# z_offset = 1.19
#*#
#*# [delta_calibrate]
#*# height0 = 1.19
#*# height0_pos = 39726.000,39648.000,39824.500
#*# height1 = 1.19
#*# height1_pos = 45228.500,45244.000,35905.500
#*# height2 = 1.19
#*# height2_pos = 38570.000,48538.500,38732.000
#*# height3 = 1.19
#*# height3_pos = 36035.000,44366.000,44550.000
#*# height4 = 1.19
#*# height4_pos = 38629.000,38495.000,46086.000
#*# height5 = 1.19
#*# height5_pos = 43741.000,36234.000,43776.000
#*# height6 = 1.19
#*# height6_pos = 47240.000,38516.000,38686.000
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.075
#*# pid_ki = 0.681
#*# pid_kd = 178.809
